<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  
		<%= stylesheet_link_tag "estilos" %>
    <title>Soccer Pool</title>

  </head>

  <body>  
  
	<% if flash[:notice]%> 
  	<p style="color: green"> <%= flash[:notice] %></p> 
	<% end %> 
	<% if flash[:error] %> 
  	<p style="color: red"><%= flash[:error] %></p> 
	<% end %>
	
		<div id="menu" style="position: absolute; top: 75px; left: 50px;" class="menu">
			<table id="matches_tables" style="border: 0px">
				<th>Main Menu</th>
				<tr>
					<td>
							<%= link_to "Opened Pool", '/principal/main_layout' %>			
					</td>
				</tr>
				<% if  session["type_user"].to_s == $admin %>
				<tr>
					<td>
							<%= link_to "Open a Pool", '/open_pool/input' %>			
					</td>
				</tr>
				<tr>
					<td>
							Close the Pool
					</td>
				</tr>
				<tr>
					<td>
							Conclude Pool
					</td>
				</tr>
				<% end 
				if  !(session["type_user"].to_s  == $admin ) %>
				<tr>
					<td>
							<%= link_to "Make a Pick", '/pick/make_pick' %>
					</td>
				</tr>
				<% end %>
				<tr>
					<td>
							<%= link_to "Pool Results", '/results/show_results' %>
					</td>
				</tr>
			</table>
		</div>

    <%= yield :layout %>  

		<div id="logout" style="position: absolute; top: 1px; right: 125px;">
			<p class="user_name">Bienvenid@ <%=h session["type_user"].to_s%></p>
		</div>
    
		<div id="logout" style="position: absolute; top: 20px; right: 5px;">
      <p class="logout"><%= link_to "Click here to logout", logout_path %></p>
		</div>
    
    <div id="footer" style="position: fixed; bottom: 1px; z-index: 0;">
    	<hr/>    
    	<p class="footer">
      	Software Design and Architecture (C) 2009 por Maricela Obeso y Miguel Ramirez
    	</p>
		</div>
  
  </body>

</html>