<div id="make_picks"  style="position: absolute; left: 300px; top: 50px; z-index:1;">
      <h2> Enter your Picks</h2> 
        
      <% matches =  Array.new %>
      <% @pool_matches_arr.each_index do |i|%>
          <% temp_match_arr = Array.new %>
          <% temp_match_arr << @pool_matches_arr[i].id %>
          <% temp_match_arr << @pool_matches_arr[i].pool_id %>
          <% temp_match_arr << @pool_matches_arr[i].local %>
          <% temp_match_arr << @pool_matches_arr[i].visitor %> 
          <% temp_match_arr << "result#{@pool_matches_arr[i].id}" %>
          <% matches[i]= temp_match_arr %>
      <%end%>
      
      
      
      <% form_tag :action => 'save' do %>  
              
          <p>
            Please input the winner for each of the matches :
          </p>
          
          <table>
             <tr>
               <th> Match # </th>
               <th> Local </th>
               <th> V.S. </th>
               <th> Visitor </th>
               <th> Your Pick</th>
            </tr>
            <% i = 1%>
                
            <% matches.each do |match| %>
                <tr>
                    <td class="matches_table_td"><%=h i %></td>
                    <td class="matches_table_td"> <%=h match[2]%> </td>
                    <td class="matches_table_td">v.s.</td>
                    <td class="matches_table_td"> <%=h match[3] %> </td>
                    <td class="matches_table_td"> <%= select_tag match[4], '<option> local </option>' \
                                    '<option> visitor </option>'  \
                                    '<option>tie</option>' %> </td>
                </tr>
                <% i = i + 1%>
                
              <%end%>
         </table>
        <%= submit_tag 'Save' %>
       <% end %> 
</div>    

