
<div id="main_show" 
				<% if  session["type_user"].to_s == $admin %>  
					 style="position: absolute; left: 320px; top: 50px; z-index:1;"
				<% else %>
						style="position: absolute; left: 300px; top: 50px; z-index:1;"
				<% end %>
>	
<% if !(@matches.size == @NO_OPENED_POOL)%>
	
	<h2>Pool name: <%=h @pool_name %></h2>
	<table id="matches_tables">
		<tr>
			<th>
				Match #
			</th>
			<th>
				Local
			</th>
			<th>
				V.S.
			</th>
			<th>
				Visitor
			</th>
		</tr>
		<% @matches.size.times do |n| %>
  	<tr>
	    <td class="matches_table_td"><%=h n+1 %></td>
  	  <td class="matches_table_td"><%=h @matches[n].local %></td>
  	  <td class="matches_table_td">v.s.</td>
	    <td class="matches_table_td"><%=h @matches[n].visitor %></td>	
 	 	</tr>
		<% end %>
	</table>

<% else %>
	<br />
	<br />
	<br />
	<h2 align = "center"><%= @pool_name %></h2>

<% end %>

</div>


